<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top przepisy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<nav th:insert="~{fragments :: nav}"></nav>
<div class="container">
    <h1 class="mt-5">Top przepisy!</h1>
    <ul class="list-group">
        <li class="list-group-item" th:each="recipe : ${topRecipes}">
            <a th:href="@{/recipes/{id}(id=${recipe.id})}" th:text="${recipe.title}" th:title="${recipe.category.name}"></a>
            <span class="badge rounded-pill bg-success" th:text="${recipe.likes}"></span>
        </li>
    </ul>
</div>
<footer th:insert="~{fragments :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>